@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{  
  font-family: 'Inter', sans-serif !important;
  height: 100vh !important;
}


/* Header Styles */

.bg-custom{
  background-color: #ff6c95 !important;
  border: 1px solid #ff6c95 !important;
}
.form-signin h1, h6{
  color: grey;
}
.form-signin button{
  background-color: #ff6c95;
  border: 1px solid #ff6c95;
}

/* Footer Styles */

.footer-index{
  z-index: -1 !important;
}
.copyright{
  font-size: 0.75rem !important;
}

/* Sidebar Styles */

#side_nav {
  background-color: #ff6c95;
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  #side_nav {
    margin-left: -250px;
    position: fixed;
    min-height: 100vh;
    z-index: 1;
  }
  #side_nav.active {
    margin-left: 0;
  }
  .list-chapters{
    max-height: 50vh !important;
  }
}
.profile-sidebar{
  max-height: 70vh;
}
.profile-sidebar .text-title{
  font-size: 0.75rem;
}
.custom-outline-button:hover{
  background-color: #ff6c95 !important;
  border: 1px solid #ff6c95 !important;
}
.referTextSize{
  font-size: 11px !important;
}
.quoto-badge{
  font-size: 0.5rem;
  border: 1px solid rgb(119, 156, 119);
}
.border-secondarys{
  border: 1px solid #cacaca !important;
}
.pdfFile{
  color: #ff6c95;
}
/* Signout css */

.signout-width{
  width: 250px;
}
.signoutGridSize{
  width: 240px;
}
.cancel-subscription{
  font-size: 0.5rem;
}

/* mainbar css */
.brand-color{
  color: #ff6c95 !important;
}
.upload-card:hover{
  cursor: pointer;
}
.listOfBooks{
  min-height: 75vh;
}
.files input {
  background-color: #ededed;  
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}
.files input:focus {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  border: 1px solid #92b0b3;
}
.files {
  position: relative;
}
.files:after {
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url('../src/components/images/addBook.png');
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.color input {
  background-color: #f1f1f1;
}
.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: "or drag and drop your PDF files here";
  display: block;
  margin: 0 auto;
  color: #ff6c95;
  font-weight: 600;
  text-transform: camelcase;
  text-align: center;
}
.searchStyle{
  right: 10px;
  cursor: pointer;
  z-index: 100;  
  color: gray;  
}


.btn-toggle-nav li a{
  color: grey;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);  
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
.rounded{
  font-size: 10px;
}
.rounded-pill{
  color: #000000 !important;
  font-size: 9px !important;
}
.rounded-pills{
  color: #ffffff !important;
  font-size: 9px !important;
}
.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.list-chapters li {
  padding: 1px;  
  border: none;
  background-color: #ffffff;
}
.list-chapters li button{
  font-size: 12px;
}

/* Quiz */
#showAnswer{
  font-size: 0.75rem;
  color: #5e6063;  
}
#showAnswerDiv:hover,#showAnswer:hover{
  cursor: pointer;
}
#showAnswerBadge{
  background-color: #ff6c95 !important;
}
#answer{
  font-size: 0.80rem;
}
.listOfQuestions{
  max-height: 75vh;
}
.list-of-options li{
  background-color: #dddddd !important;
  border: none;
}
.list-chapters{
  max-height: 65vh;
}